@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    background: linear-gradient(to bottom right, #2c003e, #000000);
    color: #e0f7fa;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.9); 
}

.nav-item a {
    display: inline-block;
    margin-right: 15px;
}

.navbar-brand, .nav-link {
    color: #9b59b6;
}

.btn-secondary {
    background-color: #9b59b6;
    border: none; 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.3s; 
}

.btn-secondary:hover {
    background-color: #8e44ad;
    transform: scale(1.05);
}

footer {
    background-color: rgba(0, 0, 0, 0.9); 
    color: #9b59b6;
    padding: 1rem 0; 
}

.bordered-image {
    border: 5px solid #9b59b6;
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s, box-shadow 0.3s; 
    margin-bottom: 20px;
}

.bordered-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #9b59b6;
}

h1 {
    font-size: 3rem;
    margin-top: 20px;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    margin-top: 30px;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
    margin-top: 10px;
    text-align: center;
}
